<app-home></app-home>
<form class="reservation-form" [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="guestName">Name:</label>
    <input id="guestName" formControlName="guestName" required />
    <div class="error" *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">
      Name is required.
    </div>
  </div>
  <div class="form-group">
    <label for="guestEmail">Email:</label>
    <input id="guestEmail" formControlName="guestEmail" type="email" required />
    <div class="error" *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">
      Valid email is required. 
    </div>
  </div>
  <div class="form-group">
    <label for="roomNumber">Room Number</label>
    <input id="roomNumber" formControlName="roomNumber" type="number" required />
    <div class="error" *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched">
      Room number is required.
    </div>
  </div>
  <div class="form-group">
    <label for="checkInDate">Check-in Date:</label>
    <input id="checkInDate" formControlName="checkInDate" type="date" required />
    <div class="error" *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
      Check-in date is required.
    </div>
  </div>
  <div class="form-group">
    <label for="checkOutDate">Check-out Date:</label>
    <input id="checkOutDate" formControlName="checkOutDate" type="date" required />
    <div class="error" *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">
      Check-out date is required.
    </div>
  </div>
  <button class="submit-btn" type="submit" [disabled]="reservationForm.invalid">Reserve</button>
</form>